<template>
    <div>
        <form class="login-form" @submit.prevent="handleSubmit">
            <h1>Login</h1>
            <div>
                <label for="email">Email: </label>
                <input name="email" id="email" type="email">
            </div>
            <div>
                <label for="password">Password: </label>
                <input name="password" id="password" type="password">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</template>
<script>
    import axios from 'axios'

    export default {
        methods: {
            handleSubmit(event) {
                let formData = new FormData(event.target)
                axios.post(process.env.VUE_APP_API_BASE + 'auth/sign_in', formData)
                    .then(function (response) {
                        localStorage.setItem('access-token', response.headers['access-token'])
                        localStorage.setItem('client', response.headers.client)
                        localStorage.setItem('uid', response.headers.uid)
                        localStorage.setItem('token-type', response.headers['token-type'])
                        window.location.replace("/")
                    }).catch(response => {
                        this.$notify({
                            group: 'error',
                            title: 'Error',
                            duration: -1,
                            text: response.response.data.status + " " + response.response.data.error
                        });
                    }
                )
            }
        }
    }
</script>