<template>
    <div>
        <div class="box">
            <h1>Privacy Zones</h1>
            <p>The area in the red circle will be hidden from your activity uploads</p>
            <a href='/profile/privacy_zone/new' class="focus-btn">Add new privacy zone</a>
        </div>
        <br />
        <div v-if="privacyZones[0].privacy_zone" v-for="privacyZone in privacyZones" :key="privacyZone.id">
            <div :id="'map' + privacyZone['privacy_zone']['id']" :key="privacyZone.privacy_zone.id" class="map"></div>
            <div class="box">
                <button v-on:click="deletePrivacyZone" :data-id="privacyZone.privacy_zone.id">Delete</button>
            </div>
            <br />
        </div>
    </div>

</template>

<script>
    let privacyZones = {}

    export default {
        data() {
            return {
                privacyZones
            }
        },
        methods: {
            deletePrivacyZone: function (e) {
                this.$store.dispatch('delete_privacy_zone', {params: {id: e.target.dataset.id}})
                    .then(window.location.replace('/'))
            }
        },
        updated: function () {
            // Marker only shows after doing this.  https://github.com/PaulLeCam/react-leaflet/issues/453#issuecomment-410450387
            delete L.Icon.Default.prototype._getIconUrl;
            L.Icon.Default.mergeOptions({
                iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
                iconUrl: require('leaflet/dist/images/marker-icon.png'),
                shadowUrl: require('leaflet/dist/images/marker-shadow.png')
            });
            this.privacyZones.map((privacyZone) => {
                var zoneMap = L.map('map' + privacyZone.privacy_zone.id)
                    // Leaflet takes lat, lon but postgis takes lon, lat so we reverse (#63)
                    .setView(privacyZone.privacy_zone.random_in_range.coordinates.reverse(), 13)
                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                    attribution: '<a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: process.env.VUE_APP_MAPBOX_KEY
                }).addTo(zoneMap)

                L.marker(privacyZone.privacy_zone.original_point.coordinates).addTo(zoneMap)
                L.circle(privacyZone.privacy_zone.random_in_range.coordinates, 400, {color: '#FF0000'}).addTo(zoneMap)
            })
        },
        created: function () {
            this.$store.dispatch('get_privacy_zones').then(privacyZones => {
                this.privacyZones = privacyZones.data
            }, response => {
                this.$notify({
                    group: 'error',
                    title: 'Error',
                    duration: -1,
                    text: response.response.data.status + " " + response.response.data.error
                });
            })
        }
    }

</script>
